{% extends "base.html" %}

{% block title %}Rayo - Blog Creative{% endblock %}

{% block description %}Dive into the latest trends, uncover valuable industry insights, and explore practical advice designed to help you successfully navigate and thrive in the ever-evolving digital landscape.{% endblock %}

{% block content %}
<!-- Section - Inner Page Headline Start -->
<div class="mxd-section mxd-section-inner-headline padding-blog-descr-pre-grid">
  <div class="mxd-container grid-container">
  
    <!-- Block - Inner Page Headline Start -->
    <div class="mxd-block loading-wrap">
      <div class="container-fluid px-0">
        <div class="row gx-0">

          <!-- Inner Headline Name Start -->
          <div class="col-12"></div>
          <!-- Inner Headline Name Start -->

          <!-- Inner Headline Content Start -->
          <div class="col-12 col-xl-7 mxd-grid-item no-margin">
            <div class="mxd-block__content">
              <div class="mxd-block__inner-headline loading__item">
                <h1 class="inner-headline__title headline-img-before headline-img-06">Our digital digest</h1>
              </div>
            </div>
          </div>
          <!-- Inner Headline Content End -->

          <!-- Inner Headline Aside Start -->
          <div class="col-12 col-xl-5 mxd-grid-item no-margin">
            <div class="mxd-block__content">
              <div class="inner-headline__descr loading__item">
                <p>Dive into the latest trends, uncover valuable industry insights, and explore practical 
                  advice designed to help you successfully navigate and thrive in the ever-evolving 
                  digital landscape.</p>
              </div>
            </div>
          </div>
          <!-- Inner Headline Aside End -->

        </div>
      </div>
    </div>
    <!-- Block - Inner Page Headline End -->

  </div>
</div>
<!-- Section - Inner Page Headline End -->

<!-- Section - Blog Start -->
<div class="mxd-section padding-pre-title">
  <div class="mxd-container grid-container">
    <div class="mxd-posts-area column loading__fade">

      <!-- Posts Container Start -->
      {% if featured_post %}
      <div class="mxd-posts-container fullwidth-posts-container mxd-grid-item">

        <!-- Featured Post Start -->
        <article class="mxd-post post-featured post-featured-v2 radius-l">
          <a class="post-featured__thumb" href="{{ url_for('blog_article', slug=featured_post.slug) }}">
            <img src="{{ url_for('static', filename=featured_post.featured_image) }}" alt="{{ featured_post.title }}">
          </a>
          <div class="post-featured__categories">
            {% for tag in featured_post.tags.split(',') %}
            <span class="tag tag-default tag-outline-permanent tag-link-outline-premanent">
              <a href="#0">{{ tag.strip() }}</a>
            </span>
            {% endfor %}
          </div>
          <div class="post-featured__content">
            <div class="post-featured__meta">
              {% for tag in featured_post.tags.split(',') %}
              <span class="meta-tag">
                <a href="#0">{{ tag.strip() }}</a>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 20 20">
                  <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                </svg>
              </span>
              {% endfor %}
              <span class="meta-date">{{ featured_post.created_at.strftime('%B %d, %Y') }}</span>
            </div>
            <h3 class="post-featured__title">
              <a href="{{ url_for('blog_article', slug=featured_post.slug) }}">{{ featured_post.title }}</a>
            </h3>
            <div class="post-featured__excerpt">
              <p>{{ featured_post.excerpt }}</p>
            </div>
          </div>
        </article>
        <!-- Featured Post End -->

      </div>
      {% endif %}
      <!-- Posts Container End -->

      <!-- Secondary Posts Group Start -->
      <div class="mxd-posts-container fullwidth-posts-container">
        <div class="container-fluid p-0">
          <div class="row g-0">
            {% for post in posts.items %}
            <!-- secondary post -->
            <div class="col-12 col-xl-6 mxd-grid-item">
              <article class="mxd-post post-secondary">
                <a class="post-secondary__thumb radius-l" href="{{ url_for('blog_article', slug=post.slug) }}">
                  <img src="{{ url_for('static', filename=post.featured_image) }}" alt="{{ post.title }}">
                  <div class="mxd-preview-hover">
                    <i class="mxd-preview-hover__icon">
                      <img src="{{ url_for('static', filename='img/icons/icon-eye.svg') }}" alt="Eye Icon">
                    </i>
                  </div>
                </a>
                <div class="post-secondary__categories">
                  {% for tag in post.tags.split(',') %}
                  <span class="tag tag-default tag-outline-permanent tag-link-outline-premanent">
                    <a href="#0">{{ tag.strip() }}</a>
                  </span>
                  {% endfor %}
                </div>
                <div class="post-secondary__descr">
                  <div class="post-secondary__meta">
                    {% for tag in post.tags.split(',') %}
                    <span class="meta-tag">
                      <a href="#0">{{ tag.strip() }}</a>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 20 20">
                        <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                      </svg>
                    </span>
                    {% endfor %}
                    <span class="meta-date">{{ post.created_at.strftime('%B %d, %Y') }}</span>
                  </div>
                  <div class="post-secondary__title">
                    <h5>
                      <a href="{{ url_for('blog_article', slug=post.slug) }}">{{ post.title }}</a>
                    </h5>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Secondary Posts Group End -->

    </div>
  </div>
</div>
<!-- Section - Blog End -->
{% endblock %}
